/* Footer design */
/* Footer design */
.footer {
  max-width: 100%;
  background: #D23333;
  height: 100px;
  max-width: 100%;
}

.list-inline {
  margin-left: 34px;
  max-height: 45px;
}

.list-inline i{
  margin-top: 15px;
  height: 50px;
  width: 50px;
  color: white;
  font-size: 2em;
}

.footer p{
  margin-bottom: 15px;
  max-width: 80%;
  color: white;
  font-size: 15px;
  margin-left: 67px;
}
